/*---------------------------------------------------Fonts*/

@import url('https://fonts.googleapis.com/css?family=Port+Lligat+Sans|Spicy+Rice');

/*---------------------------------------------------Colors*/

.pale-yellow {
    color: #FEF6D4;
}

.pale-green {
    color: #9DD2B6;
}

.pale-green-bg {
    background-color: #9DD2B6;
}

.dark-blue {
    color: #1B1B9A;
}

.dark-blue-bg {
    background-color: #1B1B9A;
}

.olive-green {
    color: #5A9361;
}

.groovy-green {
    color: #1FB17C;
}

.groovy-red {
    color: #F83312;
}

.kaki-brown {
    color: #C8B461;
}

.kaki-brown-bg {
    background-color: #C8B461;
}

.dark-orange {
    color: #D25B31;
}

.dark-orange-bg {
    background-color: #D25B31;
}


/*---------------------------------------------------Common*/

.inline-block {
    display: inline-block;
}

.rounded {
    border-radius: 1rem!important;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;
}

.uppercase {
    text-transform: uppercase;
}

/*---------------------------------------------------Main*/

body {
    background-color: #D25B31;
    color: #F83312;
    font-family: 'Port Lligat Sans', "Impact", "Charcoal", sans-serif;
}

section {
    background-color: #FEF6D4;
}

h1 {
    margin: 0;
}

.section-title {
    background-color: #D25B31;
    color: #FEF6D4;
    font-family: 'Spicy Rice', "Impact", "Charcoal", cursive;
}

/*---------------------------------------------------Nav Bar*/

.navbar {
    font-family: 'Spicy Rice', "Impact", "Charcoal", cursive;
    font-weight: 500;
}

.navbar-custom {
    background-color: #D25B31;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FEF6D4;
}

.navbar-brand {
    font-size: 1.7rem;
    padding: 0;
}

.dropdown-menu.show {
    background-color: #FEF6D4;
}

.navbar-custom .dropdown-menu .dropdown-item {
    color: #D25B31;
    background-color: #FEF6D4;
}

.navbar-custom .dropdown-menu .dropdown-item:hover {
    color: #9DD2B6;
}

.navbar-custom .navbar-nav .nav-link {
    color: #FEF6D4;
    font-size: 1.2rem;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #9DD2B6;
}

.navbar-toggler {
    border-color: #FEF6D4;
}

.fa-navicon {
    color: #FEF6D4;
    font-size: 30px;
}

/*---------------------------------------------------Social Media*/

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 600;
    line-height: 7px;
    text-align: center;
    background: #FEF6D4;
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #9DD2B6;
}

/*---------------------------------------------------Band Profile*/

.profile-name {
    font-family: 'Spicy Rice', "Impact", "Charcoal", cursive;
}

.profile-card {
    padding: 10px;
}

/*---------------------------------------------------Discography*/

.timeline-item {
    padding: 3em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.timeline-item p {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 22px;
}

.timeline-item::before {
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #D25B31;
}

.history-heading {
    margin-bottom: 50px;
}

.history-items {
    margin-bottom: 30px;
}

.song-name {
    text-align: center;
    color: #FEF6D4;
}

.song-controls {
    text-align: center;
}

/*---------------------------------------------------Live Shows*/

.shows-list {
    padding: 20px 0 20px 0;
}

.shows-list li a {
    text-decoration: none;
    color: inherit;
}

.shows-list a:hover {
    color: #9DD2B6;
}


/*---------------------------------------------------Contact*/

.btn-form-style {
    color: #FEF6D4;
    text-align: center;
    background-color: #D25B31;
}

.btn-form-style:hover {
    background-color: #9DD2B6;
}

/*---------------------------------------------------Media Queries*/

/* md or bigger */

@media(min-width: 768px) {
    .song-name {
        text-align: right;
    }

    .song-controls {
        text-align: left;
    }

    .shows-list ul {
        padding-left: 10px;
    }
}
