/*---------------------------------------------------Fonts*/

@import url('https://fonts.googleapis.com/css?family=Port+Lligat+Sans|Spicy+Rice');

/*---------------------------------------------------Colors*/

.pale-yellow {
    color: #FEF6D4;
}

.pale-green {
    color: #9DD2B6;
}

.pale-green-bg {
    background-color: #9DD2B6;
}

.dark-blue {
    color: #1B1B9A;
}

.dark-blue-bg {
    background-color: #1B1B9A;
}

.olive-green {
    color: #5A9361;
}

.groovy-green {
    color: #1FB17C;
}

.groovy-red {
    color: #F83312;
}

.kaki-brown {
    color: #C8B461;
}

.kaki-brown-bg {
    background-color: #C8B461;
}

.dark-orange {
    color: #D25B31;
}

.dark-orange-bg {
    background-color: #D25B31;
}


/*---------------------------------------------------Common*/

.inline-block {
    display: inline-block;
}

.rounded {
    border-radius: 1rem!important;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;
}

/*---------------------------------------------------Main*/

body {
    background-color: #D25B31;
    color: #F83312;
    font-family: 'Port Lligat Sans', "Impact", "Charcoal", sans-serif;
}

section {
    background-color: #FEF6D4;
}

h1 {
    margin: 0;
}

.section-title {
    background-color: #D25B31;
    color: #FEF6D4;
    font-family: 'Spicy Rice', "Impact", "Charcoal", cursive;
}

/*---------------------------------------------------Nav Bar*/

.navbar {
    font-family: 'Spicy Rice', "Impact", "Charcoal", cursive;
    font-weight: 500;
}

.navbar-custom {
    background-color: #D25B31;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FEF6D4;
}

.navbar-brand {
    font-size: 1.7rem;
    padding: 0;
}

.dropdown-menu.show {
   background-color: #FEF6D4; 
}

.navbar-custom .dropdown-menu .dropdown-item {
    color: #D25B31;
    background-color: #FEF6D4;
}

.navbar-custom .dropdown-menu .dropdown-item:hover {
    color: #9DD2B6;
}

.navbar-custom .navbar-nav .nav-link {
    color: #FEF6D4;
    font-size: 1.2rem;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #9DD2B6;
}

.navbar-toggler {
  border-color: #FEF6D4;
} 

.fa-navicon {
    color: #FEF6D4;
    font-size: 30px;
}
/*---------------------------------------------------Social Media*/

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35 ease-in-out;
    -moz-transition: all 0.35 ease-in-out;
    -webkit-transition: all 0.35 ease-in-out;
    -o-transition: all 0.35 ease-in-out;
}

.social-links li a i:hover {
    background: #F83312;
}

/*---------------------------------------------------Discography*/

.song-name {
    text-align: center;
    color: #FEF6D4;
}

.song-controls {
    text-align: center;
}

/*---------------------------------------------------Contact*/
.btn-form-style {
    color: #FEF6D4;
    text-align: center;
    background-color: #D25B31;
}

.btn-form-style:hover {
    background-color: #9DD2B6;
}

/*---------------------------------------------------Media Queries*/

/* md or bigger */

@media(min-width: 768px) {
    .song-name {
        text-align: right;
    }

    .song-controls {
        text-align: left;
    }
}
